header {
    text-align: center;
}

.card {
    background-color: lightsteelblue;
    font-weight: bold;
    font-family: monospace;
    font-size: larger;
}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-flow: column wrap;
        margin: 5rem;
        width: 50%;
    }
}